* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  color: black;
  text-decoration: none;
}
/* header */
header {
  height: 130px;
  position: relative;
}

header .nav_spot {
  background-color: #1e272f;
  height: 40px;
  border-bottom: 1px solid #37404a;
}
header .spot {
  position: absolute;
  right: 49px;
}
header .spot li {
  float: left;
  position: relative;
}
header .spot li::before {
  content: "";
  display: block;
  background-color: #37404a;
  width: 1px;
  height: 13px;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
header .spot li:first-child::before {
  display: none;
}
header .spot li a {
  display: block;
  color: white;
  padding: 0 15px;
  line-height: 35px;
  font-size: 13px;
}
header .spot li:nth-child(3) a::after {
  content: "";
  display: inline-block;
  background: url("images/ico_dotArrB_white.png") no-repeat;
  width: 13px;
  height: 7px;
  margin-left: 5px;
  position: relative;
  bottom: 1px;
}
header .spot li:nth-child(4) a::after {
  content: "";
  display: inline-block;
  background: url("images/ico_cirArrB_red.png") no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
}
/* header gnb */
header .gnb {
  background-color: #202933;
  height: 90px;
  text-align: center;
  position: relative;
}
header .gnb h2 {
  position: absolute;
  padding: 28px 35px;
}
header .gnb .logo {
  color: transparent;
  background: url("images/1600761559691_0.png") no-repeat;
  display: block;
  width: 255px;
  height: 35p;
}

header .gnb ul {
  display: flex;
  position: absolute;
  left: 320px;
  right: 300px;
  text-align: center;
  justify-content: space-between;
}
header .gnb ul li {
  display: inline-block;
}
header .gnb ul li a {
  color: white;
  line-height: 90px;
  display: inline-block;
  font-size: 21px;
  font-weight: bolder;
}
header .gnb .move {
  position: absolute;
  right: 40px;
  width: 200px;
  top: 50%;
  transform: translateY(-34%);
}
header .gnb .move select {
  display: inline-block;
  position: relative;
  bottom: 7px;
  margin-right: 20px;
  width: 136px;
  height: 42px;
  border-radius: 15px;
  background: url("images/ico_dotArrB_white.png") no-repeat 95% 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
header .gnb .move select option {
  text-align: center;
  color: white;
}
header .gnb .move .header_search {
  display: inline-block;
  background: url("images/ico_topSearch_white.png") no-repeat;
  width: 29px;
  height: 27px;
}
/* main */
.main {
  height: 674px;
  background: url("images/Main_Section1_Bg2_70.jpg") no-repeat;
  overflow: hidden;
  position: relative;
  padding: 70px 110px 52px;
}
.main_left {
  float: left;
  position: absolute;
  height: 555px;
  width: 40%;
}

.main_left_pic img {
  width: 100%;
  height: 404px;
  margin-bottom: -4px;
}
.main_left_text {
  height: 150px;
  background-color: #00589e;
  color: rgba(255, 255, 255, 0.5);
  padding: 40px 40px;
  position: relative;
}
.main_left_text > p > a {
  display: block;
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 16px;
}
.main_left_text ul {
  position: absolute;
  right: 45px;
  bottom: 20px;
}
.main_left_text ul li {
  float: left;
  margin-left: 10px;
}
.main_left_text ul li a {
  text-indent: -99999px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.3;
}
.main_left_text ul li:last-child a {
  background: url("images/icon_sVisual_NewsStop.png") no-repeat 8px;
  width: 25px;
  height: 25px;
  border: 1px solid white;
  position: absolute;
  bottom: -9px;
  display: block;
}
.main_right {
  float: right;
  position: absolute;
  right: 0;
  width: 49.5%;
  border: 1px solid pink;
  height: 100%;
}
